<section>

    <div class="join-kleen-ct">
        <div class="join-kleen-heading">
            Kleen Bill puts you and your family first! Sign up today!
        </div>
        <a href="https://v2-engage.texcido-thaut.com/company-account-location-endpoints/adf7f08e-e118-11ee-b5d2-06bdac142388"
            target="_blank">
            <button class="join-kleen-btn">
                Join Kleen Bill Today!
            </button>
        </a>

        <div class="border"></div>

        <div>
            Have additional questions? See <a href="#" class="nav-link-ct">Help / FAQ</a>
        </div>
    </div>

    <div class="footer-logo-ct">
        <img src="assets/white-bg-logo.png" alt="Logo">
    </div>
    <div class="footer-links-ct">
        <div>
            Conditions of Us
        </div>
        <div>
            Privacy Notice
        </div>
        <div>
            Interest-Based Ads
        </div>
        <div>
            © 2024. Kleenbill.com, Inc, or its affiliates
        </div>
    </div>
</section>