<header>
    <nav>
        <img src="assets/white-bg-logo.png" alt="Logo">
    </nav>
</header>

<section class="main">
    <div style="padding: 0 64px;" class="left-main-ct">
        <img src="assets/white-bg-logo.png" alt="Logo" class="banner-logo">
        <h3 class="banner-title">All-in-one virtual healthcare experience for you and your family</h3>
        <a href="https://v2-engage.texcido-thaut.com/company-account-location-endpoints/adf7f08e-e118-11ee-b5d2-06bdac142388"
            target="_blank">
            <button class="join-kleen-btn">
                Join Kleen Bill Today!
            </button>
        </a>
    </div>
    <div class="banner-img-ct">
        <img class="banner-img" src="assets/main-banner.jpg" alt="Banner">
    </div>
</section>

<section class="gallery">
    <div class="gallery-item-ct">
        <div>
            <h4>Get started today by selecting a local participating pharmacy that is hosting your digital health care
                hub
                where you can see a doctor, get prescriptions and take advantage of other special discounts.</h4>
        </div>
        <div>
            <img style="width: 100%;border-top-left-radius: 64px;border-bottom-right-radius: 64px;"
                src="assets/img1.jpg" alt="banner 1">
        </div>
    </div>
    <div class="gallery-item-ct column-reverse">
        <div>
            <img style="width: 100%;border-top-right-radius: 16px;border-bottom-right-radius: 16px;"
                src="assets/img2.jpg" alt="banner 2">
        </div>
        <div>
            <h4>We go beyond telehealth and offer
                plans where you can see a doctor
                when an in person visit is what you
                need.</h4>
        </div>
    </div>
    <div class="gallery-item-ct">
        <div>
            <h4>Every Kleen Bill membership
                includes a prescription
                benefit that covers over 400
                of the most frequently
                prescribed medications that
                you may need.</h4>
        </div>
        <div>
            <img style="width: 100%;border-top-left-radius: 64px;border-bottom-right-radius: 64px;"
                src="assets/img3.jpg" alt="banner 3">
        </div>
    </div>
</section>

<section class="py-3" style="background-color: #f9f9f9;">
    <h3 class="banner-title text-center">Why Kleen Bill?</h3>
    <section class="why-kleen">
        <ul class="nav flex-column bg-white cursor-pointer" style="height: fit-content;">
            <li class="nav-item" style="background-color: #f1ffff;">
                <img class="star-oulined" src="assets/star-filled.svg" alt="STAR">
                <a class="nav-link active" href="#">Access Anytime, Anywhere</a>
            </li>
            <li class="nav-item">
                <img class="star-oulined" src="assets/star-outlined.svg" alt="STAR">
                <a class="nav-link" href="#">Reduce Out-of-Pocket Expenses</a>
            </li>
            <li class="nav-item">
                <img class="star-oulined" src="assets/star-outlined.svg" alt="STAR">
                <a class="nav-link" href="#">Additional Benefits</a>
            </li>
            <li class="nav-item">
                <img class="star-oulined" src="assets/star-outlined.svg" alt="STAR">
                <a class="nav-link" href="#">Real Cash Back</a>
            </li>
        </ul>

        <div class="why-kleen-content bg-white text-center p-3">
            <img src="assets/time.svg" alt="Time" width="75" class="mb-3">
            <h4>Access Anytime, Anywhere</h4>
            <p>You have access to a virtual provider or therapist 24/7. Whether it's late at night
                or a weekend or you are on vacation or a work trip, you have peace of mind that
                you can reach a provider in minutes.</p>
        </div>
    </section>
</section>

<section class="my-3 why-it-works-sec-ct">
    <h3 class="banner-title text-center mb-5">How it works?</h3>
    <section class="how-it-works-ct">
        <div class="card">
            <h3>Sign up</h3>
            <div class="d-flex align-items-center justify-content-between">
                <ol>
                    <li>Enter your email, phone number</li>
                    <li>Select a pharmacy home hub</li>
                    <li>Choose a plan and that's it!</li>
                </ol>
                <h2 class="step">1</h2>
            </div>
        </div>
        <div class="card">
            <h3>Access providers and benefits as needed</h3>
            <div class="d-flex align-items-center justify-content-between">
                <ol style="list-style: none;">
                    <li>Login to see a doctor or to schedule an in person visit.</li>
                    <li>Speak to a doctor and get any prescriptions sent to your pharmacy home hub and just go pick them
                        up!</li>
                    <li>Use the other benefits as needed.</li>
                    <li>Woo-sah! Peace of mind!</li>
                </ol>
                <h2 class="step">2</h2>
            </div>
        </div>
        <div class="card">
            <h3>Shop and Travel with Kleen Bill</h3>
            <div class="d-flex align-items-center justify-content-between">
                <ol style="list-style: none;">
                    <li>Buy the same things you buy from other e-commerce and travel sites but get up to 40% in cash
                        back to use however you want!</li>
                </ol>
                <h2 class="step">3</h2>
            </div>
        </div>
    </section>
</section>

<section class="price-section">
    <h3 class="banner-title mb-2 text-center">See how much you save with Kleen Bill</h3>
    <p>Prime members: choose membership options to see savings for you and your family.</p>

    <div class="price-cards-ct my-3">
        <div class="card p-3">
            <img style="width: 60px;" class="my-3" src="assets/plane.svg" alt="Base Plan">
            <h4 class="my-3">Base Plan</h4>
            <h5 class="my-3">Starting at $34.99</h5>
            <a href="https://v2-engage.texcido-thaut.com/company-account-location-endpoints/adf7f08e-e118-11ee-b5d2-06bdac142388"
                target="_blank">
                <button class="mt-3 buy-now-btn">Buy Now</button>
            </a>
        </div>
        <div class="card p-3">
            <img style="width: 60px;" class="my-3" src="assets/rocket.svg" alt="Base Plan">
            <h4 class="my-3">Plus Plan</h4>
            <h5 class="my-3">Starting at $44.99</h5>
            <a href="https://v2-engage.texcido-thaut.com/company-account-location-endpoints/adf7f08e-e118-11ee-b5d2-06bdac142388"
                target="_blank">
                <button class="mt-3 buy-now-btn">Buy Now</button>
            </a>
        </div>
        <div class="card p-3">
            <img style="width: 60px;" class="my-3" src="assets/aeroplane.svg" alt="Base Plan">
            <h4 class="my-3">Premium Plan</h4>
            <h5 class="my-3">Starting at $59.99</h5>
            <a href="https://v2-engage.texcido-thaut.com/company-account-location-endpoints/adf7f08e-e118-11ee-b5d2-06bdac142388"
                target="_blank">
                <button class="mt-3 buy-now-btn">Buy Now</button>
            </a>
        </div>
    </div>
</section>

<section class="gallery" style="margin: 100px auto;">
    <div class="gallery-item-ct">
        <div>
            <img style="width: 100%;border-top-left-radius: 64px;border-bottom-right-radius: 64px;"
                src="assets/img4.jpg" alt="banner 1">
        </div>
        <div class="d-flex flex-column">
            <h4>Earn up to 40% cash back on everyday shopping items and on travel! And use your cash back on whatever
                you want including to pay for your health care needs.</h4>

            <div class="gallery-list-items d-flex flex-column align-items-start justify-content-start w-100">
                <div style="gap: 16px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                        <path fill="#1ddb1a"
                            d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10s10-4.5 10-10S17.5 2 12 2m-2 15l-5-5l1.41-1.41L10 14.17l7.59-7.59L19 8z" />
                    </svg>
                    <span>
                        Book hotels or rental cars and earn meaningful cashback
                    </span>
                </div>
                <div style="gap: 16px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                        <path fill="#1ddb1a"
                            d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10s10-4.5 10-10S17.5 2 12 2m-2 15l-5-5l1.41-1.41L10 14.17l7.59-7.59L19 8z" />
                    </svg>
                    <span>
                        Get cashback instantly refunded to your credit card
                    </span>
                </div>
                <div style="gap: 16px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                        <path fill="#1ddb1a"
                            d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10s10-4.5 10-10S17.5 2 12 2m-2 15l-5-5l1.41-1.41L10 14.17l7.59-7.59L19 8z" />
                    </svg>
                    <span>
                        No complex point systems, just cold hard cash
                    </span>
                </div>
            </div>
            <a href="https://v2-engage.texcido-thaut.com/company-account-location-endpoints/adf7f08e-e118-11ee-b5d2-06bdac142388"
                target="_blank" class="w-100">
                <button class="saving-btn w-100">
                    Start saving today
                </button>
            </a>
        </div>
    </div>
</section>

<section class="video">
    <h3 class="banner-title mb-2 text-center">See what makes Kleen Bill different!</h3>
    <div class="bg-purple"></div>
    <div class="video-container about-container hisense__intro__video" style="padding-top: 0 !important;">
        <iframe width="100%" style="height: 100%" src="https://www.youtube.com/embed/uvqDTbusdUU?si=VuK6Lt2hmAa5WB0N"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</section>

<app-plan-includes></app-plan-includes>
<app-faq></app-faq>
<app-footer></app-footer>