section{
    margin: auto;
    width: 80%;
    margin-bottom: 32px;
}

.card{
    border: none;
}

.card-header{
    background-color: transparent;
}

.btn:focus {
    box-shadow: none;
}

.text-left{
    text-align: left !important;
}

@media screen and (max-width: 768px) {
    section{
        width: 90%;
    }

    .card-header{
        padding: 0 !important;
    }
    
}