<section>
    <h3>Your Kleen Bill Base Plan includes the following:</h3>
    <div class="card-ct">
        <div class="card">
            <div class="card__icon">
                <img src="assets/dollar-badge.svg" alt="Rewards">
            </div>
            <div class="card-title">Cash Back Rewards</div>
            <div class="card-desc">Receive special discounts from your pharmacy and on products that you use every day!
            </div>
        </div>
        <div class="card">
            <div class="card__icon">
                <img src="assets/doctor-badge.svg" alt="Rewards">
            </div>
            <div class="card-title">Doctor</div>
            <div class="card-desc">You and your family can access a doctor virtually for common illnesses and chronic
                conditions.</div>
        </div>
        <div class="card">
            <div class="card__icon">
                <img src="assets/lawyer-badge.svg" alt="Rewards">
            </div>
            <div class="card-title">Lawyer</div>
            <div class="card-desc">Speak with an attorney anytime for guidance. Includes identity theft protection
                services Coming Oct. 1st, 23
            </div>
        </div>
        <div class="card">
            <div class="card__icon">
                <img src="assets/leaf-badge.svg" alt="Rewards">
            </div>
            <div class="card-title">Therapist</div>
            <div class="card-desc">You can schedule time to see a therapist virtually to discuss any mental health
                concerns anytime.</div>
        </div>
        <div class="card">
            <div class="card__icon">
                <img src="assets/health-badge.svg" alt="Rewards">
            </div>
            <div class="card-title">Prescription Coverage</div>
            <div class="card-desc">Visit with a veterinarian to get initial advice when the family pet is not feeling
                well.</div>
        </div>
        <div class="card">
            <div class="card__icon">
                <img src="assets/pawprint-badge.svg" alt="Rewards">
            </div>
            <div class="card-title">Veterinarian</div>
            <div class="card-desc">Visit with a veterinarian to get initial advice when the family pet is not feeling
                well.
            </div>
        </div>
    </div>
</section>