/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-link-ct {
    color: #1d8192;
    display: inline-block;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}